<a href="https://colab.research.google.com/github/Fieldss28/Cartorio-EBAC/blob/main/Lab_1_EBAC_dados_(Marta_Campos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercício nº 1:** Apresentação com "Olá mundo!"

In [1]:
apresentaçao = "Olá mundo!"

print(apresentaçao)

Olá mundo!

**Exercício nº 2:** Calcular as variáveis "A", "B" e "C" da tabela de vendas e ticket médio:


--


    DIA   |  Valor Total Vendas  | Qtd Total Vendas  | Ticket Médio  |
---
    19/01 |        (A)           |         3         |     320,52    |
    20/01 |       834,47         |        (B)        |     119,21    |
    23/01 |      15378,12        |         5         |       (C)     |

In [2]:
# 19/01
qtd_total_vendas_1 = 3
ticket_medio_1 = 320.52

# 20/01
valor_total_vendas_2 = 834.47
ticket_medio_2 = 119.21

# 23/01
valor_total_vendas_3 = 15378.12
qtd_total_vendas_3 = 5

# Calcule aqui:
A = valor_total_vendas_1 = (qtd_total_vendas_1*ticket_medio_1)
B = qtd_total_vendas_2 = (valor_total_vendas_2/ticket_medio_2)
C = ticket_medio_3 = (valor_total_vendas_3/qtd_total_vendas_3)

# Print
print('(A) = Valor total das vendas 19/01 é', float(A) )
print('(B) = Quantidade total das vendas 20/01 é', float(B) )
print('(C) = Ticket médio diário 23/01 é', float(C) )

(A) = Valor total das vendas 19/01 é 961.56
(B) = Quantidade total das vendas 20/01 é 7.000000000000001
(C) = Ticket médio diário 23/01 é 3075.6240000000003

**Exercício nº 3:** Aplicação de métodos em uma string --> cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

a) Substituir vírgulas por barras;
b) Colocar a string em maiúscula;
c) Encontrar a posiçao da palavra "moinho" na string;

In [8]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

# Substitua todas as vírgulas por barras /
result1 = cancao.replace("," , "/")
print('Resposta 1: ' + (result1))

# Deixe a string em maiúscula
result2 = cancao.upper()
print('Resposta 2: ' + (result2))

# Encontre a posição da palavra "moinho" na string
result3 = cancao.find('moinho')
print('Resposta 3: A posiçao é ' + str(result3))

Resposta 1: Roda mundo/ roda gigante/ roda moinho/ roda pião.
Resposta 2: RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
Resposta 3: A posiçao é 31

**Exercicio nº 4:**
Extraia da string abaixo o valor da taxa selic na variável selic e o valor do ano na variável ano. Imprima os valores na tela.

noticia = 'Selic vai a 2,75% e supera expectativas; ' + \ 'é a primeira alta em 6 anos.'
*texto em itálico*

In [9]:
noticia = 'Selic vai a 2,75% e supera expectativas é a primeira alta em 6 anos.'

posicao_selic = noticia.find('%')
selic = (noticia[posicao_selic - 4 : posicao_selic+1])
print(f'Valor da taxa Selic: {selic}')

posicao_ano = noticia.find("ano")
ano = (noticia[posicao_ano - 2 : posicao_ano - 1])
print(f'Valor do ano: {ano}')

Valor da taxa Selic: 2,75%
Valor do ano: 6

**Exercicio nº 4:**
Utilize a tabela da verdade para responder: qual o valor da variável x?

a = False //
b = True //
x = not a & b;

In [10]:
# a = False
# b = True
# x = not a & b


a = False
b = True

x = not(a & b)

print(f'a = False e b = True; Se (a & b) = False, então not(a & b) equivale a {x}.')

a = False e b = True; Se (a & b) = False, então not(a & b) equivale a True.